@charset "utf-8";
#board {
	height: 700px; /*750*/
	width: 1050px; /*1125*/

	background-color: darkseagreen;
	float: left;
}
#space {
	width: 87.5px;
	height: 87.5px;
	border-color: black;
	border-width: 10px;
	background-color: red;
}