@charset "utf-8";
#board {
	height: 737px; /*750*/
	width: 1285px; /*1125*/

	background-color: darkseagreen;
	float: left;
}
#gameUI {
	height: 541px; 
	width: 1090px;
}
#space {
	width: 87.5px;
	height: 87.5px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
}

#rectangle {
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-style: solid;
	border-color: black;
	background-color: red;
	width: 87.5px;
	height: 20px;
}

#chancecards {
	height: 140px;
	width: 217px;
	border-style: solid; 
	border-width: 4px; 
	border-color: white
}
#communitycards {
	height: 140px;
	width: 215px;
	border-style: solid; 
	border-width: 4px; 
	border-color: white
}

#dice {
	/*make 28?*/
	height: 60px;
	/*20px distance between dice?*/
	width: 150px;
}

/*May need a id for each space image*/
/*Image may be where I put the player piece*/
/*May just need to adjust the image position in the image itself*/
/*Maybe image should be height: 40px*/
#image {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;
}
#kentucky {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;
}
#bluechance {
	margin-left: 7px;
	/*border-style: solid;*/
	width: 72.5px;
	height: 52px;
	position: relative;
}
#indiana {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#illinois {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#borailroad {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;
}
#atlantic {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#ventnor {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#water {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;
}
#marvin {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#jail {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;
}
#pacific {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#carolina {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;
}
#communitytop {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;
}
#newyork {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;	
}
#tennessee {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;	
}
#communityleft {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;
}
#stjames {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#pennsylvaniar {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;
}
#viriginia {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#states {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#electric {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#stcharles {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;
}
#jailed {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#connecticut {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;	
}
#vermont {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#redchance {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#oriental {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#reading {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#income {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#baltic {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#communitybottom {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#mediterranean {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;	
}
#board {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#luxury {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#park {
	margin-left: 7px;
	margin-top: 12px;
	width: 72.5px;
	height: 23px;	
}
#orangechance {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#short {
	margin-left: 7px;
	width: 72.5px;
	height: 52px;
	position: relative;	
}
#pennsylvaniaa {
	margin-left: 7px;
	width: 72.5px;
	height: 23px;	
}
